*{
    margin: 0;
    padding:0 ;
}

body{
    background-color: black;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:10px 2% ;
    background-color: black;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.home{
    height: 100vh;
    /* background-size: cover; */
    /* background-color: aqua; */
    /* background-position: center; */
    display:flex ;
    align-items: center;
}
.bagianKiri{
    width: 300px;
    height: 521px;
    margin-top: 30px;
    display: block;
    align-items: top;
    border-right: 1px solid rgb(63, 62, 62);

}
.gambar{
    margin-left: 10px;
}
img{
    width: 350px;
    margin-top: -30px;
    margin-left: -40px;
}
.btn{
    margin-top: 35px;
    margin-left: 50px;
}
.btn a{
    display: inline-flex;
    width: 180px;
    height:50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    border: 2px solid black;
    border-radius: 19px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}

.bagianKanan{
    display: flex;
    font-size: 50px;
    /* background-color: aqua; */
}
.chtAI{
    color: white;
    margin-top: -250px;
    margin-left: 40px;
}

p{
    font-size: 20px;
    margin-top: 10px;
}
.gambar2{
    display: flex;   
}
.gambar2 img{
    margin-bottom: -200px;
    margin-left: -400px;
    width: 330px;
    height: 200px;
}

.btn2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    margin-top: 400px;
    margin-left:-300px;
}
.btn2 a{
    display: inline-flex;
    width: 220px;
    height:39px;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    border: 2px solid black;
    border-radius: 19px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    /* margin-right: 200px; */

}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    margin-left: -500px;
    
}
  
#search-input {
    width:800px;
    height: 22px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}